
/* form {
    padding: 70px 0;
    text-align: center;
}






h1{
    text-align: center;
    
} */

#main {
    padding: 200px 0;
  
    text-align: center;
}

h1{
    font-size: 70px;
}




footer{
    position: absolute;
    bottom: 0;
    right: 0.5;
}